# /etc/rspamd/local.d/milter_headers.conf — géré par Ansible
use = ["x-spamd-bar", "x-spamd-result", "x-rspamd-server", "x-rspamd-queue-id", "authentication-results"];
authenticated_headers = ["authentication-results"];
