# /etc/postfix/ldap-aliases.cf — géré par Ansible
# Résolution des adresses de remplacement (mailAlternateAddress) → adresse principale
server_host      = {{ mailserver_ldap_uri }}
search_base      = cn=users,cn=accounts,{{ mailserver_ldap_base }}
version          = 3
bind             = yes
bind_dn          = {{ mailserver_ldap_bind_dn }}
bind_pw          = {{ mailserver_ldap_bind_password }}
query_filter     = (&(objectClass=inetOrgPerson)(mailAlternateAddress=%s))
result_attribute = mail
start_tls        = yes
tls_ca_cert_file = /etc/ipa/ca.crt
